body {
    background-color: grey;
    font-size: 13px;
}
span {
    color: white
}
li{
    color: white
}
p {
    color: white
}

#servo1 {
    margin-left: 0%;
}
#servo2 {
    margin-right: -50%;
    margin-top: -12.10%;
}
#servo3 {
    margin-left: 0%;
}
#servo4 {
    margin-right: -50%;
    margin-top: -12.10%;
}
#servo5 {
    margin-left: 0%;
}
#servo6 {
    margin-right: -50%;
    margin-top: -12.10%;
}
#servo7 {
    margin-left: 0%;
}
#servo8 {
    margin-right: -50%;
    margin-top: -12.10%;
}
#servo9 {
    margin-left: 0%;
}
#servo10 {
    margin-right: -50%;
    margin-top: -12.10%;
}
#servo11 {
    margin-left: 0%;
}
#servo12 {
    margin-right: -50%;
    margin-top: -12.10%;
}
#servo13 {
    margin-left: 0%;
}
#servo14 {
    margin-right: -50%;
    margin-top: -12.10%;
}
#servo15 {
    margin-left: 0%;
}
#servo16 {
    margin-right: -50%;
    margin-top: -12.10%;
}
#servo17 {
    margin-left: 0%;
}
#servo18 {
    margin-right: -50%;
    margin-top: -12.10%;
}
#servo19 {
    margin-left: 0%;
}
#servo20 {
    margin-right: -50%;
    margin-top: -12.10%;
}